
<!-- This is form.html page where clients enter details about name, description, street_address, service_type, phone_number, hours, and reviews -->

{% extends "layout.html" %}
{% block content %}

<title>Hope Form</title>

<div class="login-box" style="top:80%">
  <h2>Bound to Hope</h2>
  <form action="{{ url_for('form') }}" method=post> <!-- Post method for the form to transfer the data to the form.py-->

    <div class="user-box">
      <input type=text name=name required=""><label>Name</label> <!-- name field -->
    </div>

    <div class="user-box">
      <input type=text name=description required=""> <label>Description</label> <!-- description field -->
    </div>

    <div class="user-box">
      <input type=text name=street_address required=""> <label>Street Address</label> <!-- Street Address field -->
    </div>
    <!-- <div class="user-box">
      <input type=text name=service_type required=""> <label>Type of Service</label> 
    </div>
 -->
    <div class="user-box" align="right">
      <br>
      <label for="service_type" name=service_type required="">Type of Service</label> <!-- Type of the Service field -->
      <select id="service_type" name="service_type">
      <option value="Not Selected">Select one of the following</option>
      <option value="Community development">Community development</option>
      <option value="Education">Education</option>
      <option value="Employment">Employment</option>
      <option value="Housing">Housing</option>
      <option value="Health">Health</option>
      <option value="Protection of Animals">Protection of Animals</option>
      <option value="Social Service">Social Service</option>
      </select>
    </div>

    <br>
    <div class="user-box" align="right">
      <br>
      <label for="beneficiaries" name=beneficiaries required="">Beneficiaries</label> <!-- Beneficiaries field -->
      <select id="beneficiaries" name="beneficiaries">
      <option value="Not Selected">Select one of the following</option>
      <option value="Animals">Animals</option>
      <option value="General Public">General Public</option>
      <option value="Older People">Older People</option>
      <option value="People with disabilities">People with disabilities</option>
      </select>
    </div>

    <br>
    <div class="user-box">
      <input type=date name=date required=""> <label></label> <!-- Date Field -->
    </div>

    <div class="user-box">
      <input type=text name=phone_number required=""> <label>Phone Number</label> <!-- Phone Number field -->
    </div>

    <div class="user-box">
      <input type=number name=hours required=""> <label>Number of Hours</label> <!-- Number of Hours field -->
    </div>

    <div class="user-box">
      <input type=text name=reviews required=""> <label>Review</label> <!-- Reviews Field -->
    </div>

     <div class="user-box">
      <input type=file name=media> <label>Additional Attachment</label> <!-- Reviews Field -->
    </div>

    <center>
    <a><input type=submit value=Submit></a> <!-- submit button to submit the form values -->

    <a href="{{ url_for('index') }}">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      HomePage</a>   <!-- I have provided a link in this page for the user to navigate to the home page after filling the form -->

    </center>

  </form>
</div>

{% endblock %}


