<!-- This is the index.html page. I named this application "Hope" which resembles the charity and services area
This is a default home page with two links, one of which redirects to the form page for the clients to fill the form
and another link redirects to the listing page which displays all the listings of the clients -->

{% extends "layout.html" %}
{% block content %}

    <title> Home </title>

 <div class="login-box">
	<h2>Welcome to Hope</h2>
<center>
<form>
  	  <a href="{{ url_for('form') }}">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Fill up the Form</a>

      <a href="{{ url_for('listing') }}">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
     Find all the listings</a>

 </form>
</center>
</div>

{% endblock %}

