
<!doctype html>
<html style="height: 200%">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
 <div class=page>
    {% block content %}{% endblock %}
</div>
</html>
