<!-- This is the listing.html page which displays all the listings entered by the clients -->

{% extends "layout.html" %}
{% block content %}

<title>Listings</title>
<br><br>
<div>
<h1 align="center" style="color: white">Listings</h1>
</div>

<div align="center">
<h2 align="left"><a href="{{ url_for('index') }}" style="color: #b2b2b2"> << HomePage </a></h2> <!-- Link to redirect to the home page -->
</div> 

<br><br>
  <div>
    <table>
        <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Street Address</th>
                <th>Type of Service</th>
                <th> Beneficiaries</th>
                <th> Date (yyyy-mm-dd) </th>
                <th> Phone Number </th>
                <th> Hours of Operation </th>
                <th> Reviews </th>
                <th> Additional Attachment </th>
        </tr>
    
    {% for entry in entries %}
    
        <tr>
                <th>{{entry.name}}</th>
                <th>{{entry.description}}</th>
                <th>{{entry.street_address}} </th>
                <th>{{entry.service_type}} </th>
                <th>{{entry.beneficiaries}} </th>
                <th>{{entry.date}} </th>
                <th>{{entry.phone_number}} </th>
                <th>{{entry.hours}} </th>
                <th>{{entry.reviews}} </th>
                <th>{{entry.media}} </th>
        
        </tr>
        {% endfor %}
</table>
</div>

<!-- I have provided a link in this page for the user to navigate to the home page after viewing the listings -->


<style>
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #b2b2b2;
}

td, th {
  border: 10px solid #36486b;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

{% endblock %}
