
<!-- This is the index.html page. I named this application "Hope" which resembles the charity and services area
This is a default home page with two links, one of which redirects to the form page for the clients to fill the form
and another link redirects to the listing page which displays all the listings of the clients -->

<!-- Links the styleseet to the html page -->
{% extends "layout.html" %}
{% block content %}


<!-- The title of this page is Home -->
    <title> Home </title>

<!-- This page has a form with two options eithwe to Fill up the form ot to Find all the listings-->

 <div class="login-box">
	<h2>Welcome to Hope</h2>
<center>
<form>

<!-- Fill up the form redirects the user to the form.html page -->
  	  <a href="{{ url_for('form') }}">
<!-- Used span for the button highlighting which is styled in the style.css -->
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Fill up the Form</a>

<!-- Find all the listings redirects the user to the listing.html page to find all the entered listings-->
      <a href="{{ url_for('listing') }}">
<!-- Used span for the button highlighting which is styled in the style.css -->
      <span></span>
      <span></span>
      <span></span>
      <span></span>
     Find all the listings</a>

 </form>
</center>
</div>

{% endblock %}

