<!-- This is the layout.html page -->

<!-- This file links the html page to the css -->
<!-- It helps in the styling of the html pages -->

<!doctype html>
<html style="height: 200%"> 

<!-- Here is the linking of the style.css file -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
 <div class=page>
    {% block content %}{% endblock %}
</div>
</html>
