
<!-- This is the listing.html page which displays all the listings entered by the clients -->

<!-- Links the styleseet to the html page -->
{% extends "layout.html" %}
{% block content %}


<!-- The title of this page is Listings -->
<title>Listings</title>
<br><br>
<div>
<h1 align="center" style="color: white">Listings</h1>
</div>

<div align="center">

<!-- Provided a link to redirect to the homepage from the listings page -->
<h2 align="left"><a href="{{ url_for('index') }}" style="color: #b2b2b2"> << HomePage </a></h2> 
</div> 

<br><br>
  <div>

<!-- Defining a table format to dispay the details of the listings -->
<!-- The columns/attributes of the table are name, description, street_address, service_type, beneficiaries, date, phone_number, hours, reviews, media -->
    <table>
        <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Street Address</th>
                <th>Type of Service</th>
                <th> Beneficiaries</th>
                <th> Date (yyyy-mm-dd) </th>
                <th> Phone Number </th>
                <th> Hours of Operation </th>
                <th> Reviews </th>
                <th> Additional Attachment </th>
        </tr>

<!-- Values taken from the extries made by the user -->
    {% for entry in entries %}
    
        <tr>
                <th>{{entry.name}}</th>
                <th>{{entry.description}}</th>
                <th>{{entry.street_address}} </th>
                <th>{{entry.service_type}} </th>
                <th>{{entry.beneficiaries}} </th>
                <th>{{entry.date}} </th>
                <th>{{entry.phone_number}} </th>
                <th>{{entry.hours}} </th>
                <th>{{entry.reviews}} </th>
                <th>{{entry.media}} </th>
        
        </tr>
        {% endfor %}
</table>
</div>

<!-- Here is the style tag to define few stylings for this particular html file -->
<!-- This styling is mainly regarding the table defined in this page including rows and colums styling -->

<style>
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #b2b2b2;
}

td, th {
  border: 10px solid #36486b;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

{% endblock %}
