<!-- This is form.html page where clients enter details about name,  description, street_address, service_type, beneficiaries, date, phone_number, hours, reviews, media -->

<!-- Links the styleseet to the html page -->
{% extends "layout.html" %}
{% block content %}

<!-- The title of this page is Hope Form -->
<title>FreeBird Form</title>

<div class="login-box" style="top:80%">
  <h2 style="color:#03e9f4; font-size: 24px;">FreeBird Favorite Destination Form</h2>

<!-- Post method for the form to transfer the data to the form.py-->
  <form action="{{ url_for('form') }}" method=post>

    <div class="user-box">
<!-- name field -->
      <input type=text name=name required=""><label>Name of the place</label>
    </div>
<!-- location field -->
    <div class="user-box">
      <input type=text name=location required=""> <label>Location</label>
    </div>
<!-- Country field -->
    <div class="user-box">
      <input type=text name=country required=""> <label>Country</label>
    </div>
<!-- Travel Date field -->
    <div class="user-box">
      <input type=date name=travel_date required=""> <label></label>
    </div>
<!-- Number of Days Travelled field -->
    <div class="user-box">
      <input type=number name=travel_days required=""> <label>Number of Days Travelled</label>
    </div>
<!-- Purpose of the travel field -->
    <div class="user-box" align="right">
      <br>
      <label for="purpose" name=purpose required="">Travel Purpose</label>
      <select id="purpose" name="purpose">
      <option value="Not Selected">Select one of the following</option> <!--default option-->
      <option value="Business">Business</option> <!--Business option-->
      <option value="Personal">Personal</option> <!--Personal option-->
      <option value="Camping">Camping</option> <!--Camping option-->
      <option value="Vacation">Vacation</option> <!--Vacation option-->
      </select>
    </div>

    <br>
<!-- Rating field -->
     <div class="user-box">
      <input type=text name=rating required=""> <label>Rating</label>
    </div>
<!--Review field -->
    <div class="user-box">
      <input type=text name=review required=""> <label>Review</label>
    </div>
<!-- Additional Attachments Field -->
     <div class="user-box">
      <input type=file name=media> <label>Attach photo of the place visited</label>
    </div>
<!-- submit button to submit the form values -->
    <center>
    <a><input type=submit value=Submit></a>

<!-- I have provided a link in this page for the user to navigate to the home page after filling the form -->
    <a href="{{ url_for('index') }}">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      HomePage</a>
    </center>

  </form>
</div>

{% endblock %}


