<!-- This is the index.html page. I named this application "Hope" which resembles the charity and services area
This is a default home page with two links, one of which redirects to the form page for the clients to fill the form
and another link redirects to the listing page which displays all the listings of the clients -->

<!-- Links the styleseet to the html page -->
{% extends "layout.html" %}
{% block content %}

<br><br><br><br>
 <style>
      /* Set the size of the div element that contains the map */
      #map {
        height: 50px;  /* The height is 400 pixels */
        width: 50%;  /* The width is the width of the web page */
       }
    </style>

<!-- The title of this page is Home -->
    <title> Home </title>

<!-- This page has a form with two options either to Fill up the form ot to Find all the listings-->
<br><br><br><br>
 <div class="login-box"style="margin-top:50px">
  <h2 style="color:#03e9f4; font-size: 36px;">FreeBird</h2>
<center>
<form>

<!-- Fill up the form redirects the user to the form.html page -->
      <a href="{{ url_for('form') }}">
<!-- Used span for the button highlighting which is styled in the style.css -->
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      What's Your Favorite Destination</a>

<!-- Find all the listings redirects the user to the listing.html page to find all the entered listings-->
      <a href="{{ url_for('listing') }}">
<!-- Used span for the button highlighting which is styled in the style.css -->
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Checkout Favorite Destination Details</a>

</form>
<!--Form values are sent to the photo.py by the post method-->
     <form action="photo" method="POST" enctype="multipart/form-data">
      <a><span></span>
      <span></span>
      <span></span>
      <span></span>
      Enter a Destination Image to know the Location</a>
      <br><br>
      <input type="file" name="file"> <!-- Input field to upload the image-->
      <input type="submit" name="submit" value="Submit"> <!--Submit button to submit the form-->
    </form>

     <h4 style="color:white"> {{ landmark['description'] }} </h4> <!--Displays the name of the location-->

    <!--The div element for the map -->
    <div id="map"></div>
    <!--The javascript for accessing Google Maps API-->
    <script>
    // Initialize and add the map
        var map;
    function initMap() {
      // The location of loc
        var loc = {
            zoom: 10,
                center: { lat:{{landmark['latitude']}}, lng:{{landmark['longitude']}}}};

      // The map, centered at loc
        map = new google.maps.Map(document.getElementById('map'),loc);

      // Marker, positioned at loc
      var marker = new google.maps.Marker({
              position: {lat:{{landmark['latitude']}}, lng:{{landmark['longitude']}}},
            map: map
        });
    }
    </script>
    <!-- Call Map asynchronously using generated API Key-->
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPS7hicJlA5b2-8iAv2znG6ixwqe2kkTU&callback=initMap">
    </script>
 </center>
</div>
{% endblock %}