<!-- This is the layout.html page -->

<!-- This file links the html page to the css -->
<!-- It helps in the styling of the html pages -->

<!doctype html>
<html style="height: 200%"> 
<head>
<title>FreeBird</title>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
</head>

<!-- Here is the linking of the style.css file -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
 <div class=page>
    {% block content %}{% endblock %}
</div>
</html>
