<!-- This is the listing.html page which displays all the listings entered by the clients -->

<!-- Links the styleseet to the html page -->
{% extends "layout.html" %}
{% block content %}


<!-- The title of this page is Destinationn Details -->
<title>Destination Details</title>
<br><br><br><br><br><br><br>
<div>
  <div class="login-box" style="position: relative;
  display: inline-block;
  padding: 5px 5px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 20px;
  letter-spacing: 4px;
  align-items: left">
<center>
<h2 style="color:#03e9f4;font-size: 24px;">Visted Destination Details</h2>

<!-- Provided a link to redirect to the homepage from the listings page -->
  <form>
 <a href="{{ url_for('index') }}">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      HomePage</a>

</form>
</center>
</div>
</div>
<div>

<!-- Defining a table format to dispay the details of the listings -->
<!-- The columns/attributes of the table are name, description, street_address, service_type, beneficiaries, date, phone_number, hours, reviews, media -->
    <table>
        <tr>
                <th>Name</th> <!--Name column-->
                <th>Location</th> <!--Location column-->
                <th>Country</th> <!--Country column-->
                <th>Date Travelled</th> <!--Date Travelled column-->
                <th> Number of Days Travelled </th> <!--Number of days travelled column-->
                <th> Travel Purpose </th> <!--Travel purpose column-->
                <th> Rating </th> <!--Rating column-->
                <th> Review </th> <!--Review column--> 
                <th> Additional Attachment </th> <!--Additional attachment column-->
        </tr>

<!-- Values taken from the extries made by the user -->
    {% for entry in entries %}

        <tr>
                <th>{{entry.name}}</th> <!--Displays the translated name-->
                <th>{{entry.location}}</th> <!--Displays the translated location-->
                <th>{{entry.country}} </th> <!--Displays the translated country-->
                <th>{{entry.travel_date}} </th> <!--Displays the translated travel_date-->
                <th>{{entry.travel_days}} </th> <!--Displays the translated travel_days-->
                <th>{{entry.purpose}} </th> <!--Displays the translated purpose-->
                <th>{{entry.rating}} </th> <!--Displays the translated rating-->
                <th>{{entry.review}} </th> <!--Displays the translated review-->
                <th>{{entry.media}} </th> <!--Displays the translated media-->

        </tr>
        {% endfor %}
</table>
</div>

<!-- Here is the style tag to define few stylings for this particular html file -->
<!-- This styling is mainly regarding the table defined in this page including rows and colums styling -->

<style>
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #b2b2b2;
}

td, th {
  border: 10px solid #36486b;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

{% endblock %}
